aclocal.m4
config.guess
config.h
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
stamp-h1
Makefile
Makefile.in
doc/Makefile
doc/Makefile.in
missing
mxt-app
mxt-bootloader
mxt-bridge
mxt-config-loader
autom4te.cache/
m4/
obj/
libs/
*.lo
*.o
*.la
.deps/
.libs/
